body {
    text-align: center;
    background-color:cadetblue;
}
div {
    margin-top: 15px;
}
.imgsection {
    display:inline-flex;
    justify-content: center;
}
.secsection {
    margin-right: 15px;
    margin-left: 15px;
    background-color: white;
    font-family: Segoe UI;
    cursor: pointer;
}
#text {
    cursor: pointer;
    font-family: sans-serif;
    color: aquamarine;
}
#indextext {
    font-family: Segoe UI;
    color:cornsilk;
}